body{
    
    /*background-color: #FFD1DC;*/
    background-image: url(back9.avif);
    background-size: cover;
}
fieldset{
    width: 40%;
  margin: auto;
    margin-top: 7%;
    background-color: white;
}
input{
    padding: 5%;
    background-color: white;
}
#result{
    height: 30px;
    width: fit-content;
    padding: 3px;
    background-color:deeppink;
    color:white;
}
#equal{
    height: 30px;
    width: fit-content;
    padding: 3px;
    background-color:deeppink;
    color:white;
}
#add,#sub,#mul,#div{
    font-size: 30px;
}
#add,#mul{
    margin-right: 10%;
}
#n1,#n2{
    padding:5px;
}
#reload,#equals{
    width: 15%;
    height: 30px;
    padding: 3px;
}
equals{
    margin-right: 10%;
}
